extends ../layout.pug

include ../components/button
include ../components/icons

block variables
  - const PAGE_SECTION = "me";

block styles
  link(href="/public/styles/me.css" type="text/css" rel="stylesheet")

block main
  section.me
    h1 me
    p(data-current="👋" data-emojis="👋|✌️|🤙|🖖|🤘|🤝|❤️").greeting.js-greeting Hello, you!
    p I'm a software engineer focusing on frontend and backend web development as well as a number of things in-between, currently as a Tech Lead in e-commerce.
    p Here are some of the technologies I currently use the most:
    ul
      li Node.js
      li JavaScript (ES6+)
      li TypeScript
      li React / Vue
      li (S)CSS
      li Docker / Kubernetes
      li AWS
      li Canvas / SVG
      li WebGL / three.js
      li MongoDB
    p Feel free to <a href="mailto:sam@flamov.com?subject=Hello!">drop me an email</a> for a résumé or to get in touch! <span class="mono">:-)</span>

  section.projects
    if projects
      h2 Projects
      for project in projects
        .item
          h3
            =project.title
            if project.links && project.links.github
              a.icon.github(href=project.links.github title="View project GitHub repository")
                +icon-github
            if project.links && project.links.website
              a.website(href=project.links.website title="Visit project website")
                +icon-external
          p=project.description
          .bottom
            ul.technologies
              for technology in project.technologies
                li=technology
    .items-more
      a(href="https://github.com/Flamov" title="View GitHub profile").item
        +icon-github
        span More on <b>GitHub</b>
      a(href="https://codepen.com/Flamov" title="View CodePen profile").item
        +icon-codepen
        span More on <b>CodePen</b>

  if recognitions
    section.recognitions
      h2 Recognitions
      for item in recognitions
        .item
          h3
            a(href=item.url alt="")=item.title
          p.date=item.date
