extends ../layout.pug

include ../components/button
include ../components/icons

block variables
  - const PAGE_SECTION = 'me';

block styles
  link(href='/public/styles/me.css' type='text/css' rel='stylesheet')

block main
  section.me
    h1 me
    p(data-current="👋" data-emojis="👋|✌️|🤙|🖖|🤘|🤝|❤️").greeting.js-greeting Hello you!
    p I am a software engineer focusing on frontend and backend web development as well as a number of things in-between, currently working in London as a Tech Lead in e-commerce.
    p I aim for performant, accessible, and engaging frontend experiences with scalable, robust, and well-documented backend systems. All in all using as few bytes as possible to deliver great experiences to as many people as possible.
    p Here are some of the technologies I use the most:
    ul
      li Node.js
      li JavaScript (ES6+)
      li TypeScript
      li Vue
      li (S)CSS
      li Canvas / SVG
      li Docker / Kubernetes
      li WebGL / three.js
      li MongoDB
      li AWS
    p Feel free to <a href="mailto:sam@flamov.com">drop me an email</a> for a résumé or to get in touch! <span class="mono">:-)</span>

  section.projects
    if projects
      h2 Projects
      for project in projects
        .item
          h3=project.title
          p=project.description
          .bottom
            ul.technologies
              for technology in project.technologies
                li=technology
            if project.links && (project.links.github || projects.links.website)
              .links
                if project.links && project.links.github
                  a.github(href=project.links.github)
                    +github
                if project.links && project.links.website
                  a.website(href=project.links.website)
                    +external
    .items-more
      a(href='https://github.com/Flamov').item
        +github
        span More on <b>GitHub</b>
      a(href='https://codepen.com/Flamov').item
        +codepen
        span More on <b>CodePen</b>

  if recognitions
    section.recognitions
      h2 Recognitions
      for item in recognitions
        .item
          h3
            a(href=item.url alt="")=item.title
          p.date=item.date
