extends ../layout.pug

include ../components/button
include ../components/icons

block variables
  - const PAGE_SECTION = "me";

block styles
  link(href="/public/styles/me.css" type="text/css" rel="stylesheet")

block main
  section.me
    h1 me
    p(data-current="👋" data-emojis="👋|✌️|🤙|🖖|🤘|🤝|❤️").greeting.js-greeting Hello, you!
    p I'm a software engineer focusing on frontend and backend web development as well as a number of things in-between, currently as a Tech Lead in e-commerce.
    p Here are some technologies that I'm currently using:
    ul
      li Node.js
      li JavaScript (ES6+)
      li TypeScript
      li React / Vue
      li (S)CSS
      li Docker / Kubernetes
      li AWS
      li Canvas / SVG
      li WebGL / three.js
      li MongoDB
    p Feel free to <a href="mailto:sam@flamov.com?subject=Hello!">drop me an email</a> for a résumé or to get in touch! <span class="mono">:-)</span>

  section.projects
    if data.projects
      h2 Projects
      for project in data.projects
        a(href=project.link rel="noopener noreferrer" target="_blank").item
          h3=project.title
          p=project.description
          if (project.technologies)
            ul
              for technology in project.technologies
                li=technology
    .more
      a(href="https://github.com/Flamov" title="View GitHub profile" rel="noopener noreferrer" target="_blank").item
        +icon-github
        span More on GitHub
      a(href="https://codepen.com/Flamov" title="View CodePen profile" rel="noopener noreferrer" target="_blank").item
        +icon-codepen
        span More on CodePen

  if data.recognitions
    section.recognitions
      h2 Recognitions
      for item in data.recognitions
        a(href=item.url rel="noopener noreferrer" target="_blank").item
          h3=item.title
          p.date=item.date
