extends ../layout.pug

block variables
  - const PAGE_SECTION = 'photography';

block styles
  link(rel='stylesheet' href='/public/styles/photography.css')

block scripts
  script(src='/public/scripts/photography.js' async defer)

block main
  section.photography
    if albums
      .controls
        a(href="#" data-album="all").active.js-album All
        for album in albums
          a(href="#" data-album=album.key).js-album=album.name
    .gallery.js-gallery
      .column.js-column
        each photo in photos
          figure(data-album=photo.album).js-photo
            img(src=photo.src alt=photo.alt)
            figcaption
              span.description= photo.description
              span.date= photo.date
