extends layout.pug

block variables
  - const section = 'home';

block styles
  link(rel="stylesheet" href="/sass/home.css")

block scripts
  script(src="/js/home.js" async)

mixin detail(project)
  // Todo: add single mixin for featured and normal projects and use flex to re-order text/image
  .text
    h2
      a(href=`/projects/${project.key}`)=project.title
    p=project.description
    .links
      +link({ type: "arrow", text: "Learn more", url: `/projects/${project.key}` })
      if project.websiteURL
        +link({ type: "external", text: "Visit website", url: project.websiteURL })
    if project.technologies
      ul.technologies
        each technology in project.technologies
          li=technology

block content
  main.home
    each project, index in projects
      if index === 0
        section.featured
          .container
            +detail(project)
            a.preview(href=`/projects/${project.key}`)
              img.preview-image(data-src=project.previewImage alt=`Preview image for the ${project.title} project.`)
    section.list.js-list
      each project, index in projects
        if index !== 0
          div.project.js-project
            if project.previewImage
              a.preview(href=`/projects/${project.key}`)
                img.preview-image.js-image(data-src=project.previewImage alt=`Preview image for the ${project.title} project.`)
            +detail(project)
