extends layout.pug

block variables
  - const SECTION = 'home';

block styles
  link(rel='stylesheet' href='/sass/home.css')

block main
  section.work
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum odio nunc, non elementum mi hendrerit in. Nullam sollicitudin ipsum tincidunt velit pharetra accumsan. Morbi in nunc sapien.
    a.more Learn More
  section.journal
    h2 Journal
      a.more(href="/journal") Read More
    for article in articles
      div.journal-item
        h3
          a(href=`/journal/${article.slug}`)= article.title
        p= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
  section.photography
    h2 Photography
      a.more(href="/photography") View More
    .photography-item-wrapper
      for photo in photos
        figure.photography-item
          a(href="/photography")
            img(src=photo.src alt=photo.alt)
            figcaption= photo.description