- const DEFAULT_PAGE_TITLE = "Sam's Portfolio";
- const DEFAULT_PAGE_DESCRIPTION = "Sam's web development and design portfolio."

block variables

include components/menu

doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
    meta(name="description" content=(PAGE_DESCRIPTION || DEFAULT_PAGE_DESCRIPTION))
    meta(name="subject" content=(PAGE_DESCRIPTION || DEFAULT_PAGE_DESCRIPTION))
    title=(PAGE_TITLE ? `${PAGE_TITLE} | ${DEFAULT_PAGE_TITLE}` : DEFAULT_PAGE_TITLE)
    link(href=`/public/styles/global.css?${resourceHashes.globalCSSHash}` type="text/css" rel="stylesheet")
    base(href="/")
    block styles

  body
    .content
      include components/header
      main
        block main
      include components/footer
    .outer-menu
      a(href="/" class=(PAGE_SECTION === "home" ? "active" : false)).link Home
      +menu
      a(href="#").menu.js-menu-close
        +icon-menu-close
    canvas.stars.js-stars
    script(src=`/public/scripts/global.js?${resourceHashes.globalJSHash}` type="text/javascript" async defer)
    block scripts
