extends layout.pug

block variables
  - const section = 'project';
  - const pageTitle = `${title} Project`;
  - const pageDescription = `Project page for ${title}: ${description}`;
  - const pageImage = previewImage;

block styles
  link(rel="stylesheet" href="/sass/project.css")

block scripts
  script(src="/js/project.js" async)

block content
  main.project
    section.project-header(class=key)
      .wrapper
        h2=title
        p=description
        ul
          li
            span.title Responsibilities:
            =responsibilities
          li
            span.title Technologies:
            =technologies.join(", ")
          li
            span.title Timeframe:
            =started.toLocaleDateString("en", { month: "long", year: "numeric" })
            if ended
              =` – ${ended.toLocaleDateString("en", { month: "long", year: "numeric" })}`
        if websiteURL
          .links
            +link({ type: "external", text: "View website", url: websiteURL })
    section.project-content(class=key)
      block body
