mixin link({ type, text, url })
  a.link(class=`icon-${type}` class=(type === 'play' ? 'js-play' : '') href=url)
    span.text=text
    if type === 'external'
      svg.icon(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20')
        path.icon-layer(d='M16,10a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V6A1,1,0,0,1,3,5H9A1,1,0,0,0,9,3H3A3,3,0,0,0,0,6V17a3,3,0,0,0,3,3H14a3,3,0,0,0,3-3V11A1,1,0,0,0,16,10Z')
        path.icon-layer.arrow(d='M19.92.62A1,1,0,0,0,19,0H13a1,1,0,0,0,0,2h3.59L7.29,11.29a1,1,0,1,0,1.41,1.41L18,3.41V7a1,1,0,0,0,2,0V1A1,1,0,0,0,19.92.62Z')
    else if type === 'play'
      svg.icon(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14')
        path.icon-layer(d='M10,8.6l-7.62,5c-1.32.87-2.4.28-2.4-1.3V1.7C0,.12,1.08-.47,2.39.4l7.62,5A1.75,1.75,0,0,1,10,8.6Z')
    else
      svg.icon(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14')
        path.icon-layer(d='M17.92,7.38a1,1,0,0,0-.22-1.09l-6-6a1,1,0,0,0-1.41,1.41L14.59,6H1A1,1,0,0,0,1,8H14.59l-4.29,4.29a1,1,0,1,0,1.41,1.41l6-6A1,1,0,0,0,17.92,7.38Z')

mixin project-highlights(items)
  .project-highlights
    h3 Highlights
    ul
      for item in items
        li=item

mixin project-image({ src, alt, size })
  img.project-image(src=src, alt=alt, class=size)

mixin project-caption({ image, video, autoplay = false, caption, alt })
  .project-caption.js-caption
    .media
      if video
        if !autoplay
          .video-play
            +link({ type: 'play', text: 'Play video', url: '#' })
        video.video-element.js-video(loop muted autoplay=autoplay)
          source(src=`${video}.webm` type='video/webm')
          source(src=`${video}.mp4` type='video/mp4')
          source(src=`${video}.oog` type='video/oog')
      img.image-element(src=image alt=alt)
    figcaption.text
      if block
        block
      else
        =caption
