mixin photo({ title, alt, location, album, date, src })
  figure(data-album=album).photo.js-photo
    .container
      img(data-src=src alt=alt).js-lazy
    figcaption
      div.info
        p.title=title
        p.location=location
      p.date=date
