mixin photo({ title, src, alt, album, location, date })
  figure(data-album=album).photo.js-photo
    img(src=src alt=alt)
    figcaption
      div.info
        p.title=title
        p.location=location
      p.date=date
